body {
  background: #92b1df;
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.main-heading {
  font-family: "Gilroy-bold"; 
  font-size: 4vw;
  color: black;
}

.typed-out-container {
  display: flex;
  align-items: center;
  font-size: 4vw;
  color: #2176F6;
  font-family: "Gilroy-semibold";
}

.typed-out {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font: bold;
}

.cursor {
  border-right: 0.01em solid rgb(255, 255, 255);
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

#space-button1 {
  background-color: #0056b3;
  color: white;
  font-family: "Gilroy-semibold";
  padding: 2.3vh 2vw;
  border-radius: 50px;
  justify-items: center;
  margin-left: 42%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  align-self: center;
}

#space-button1:hover {
  background-color: #37b6ff;
}

#line-homepage {
  margin-top: 2vh;
  width: 120%;
}

@media (max-width: 375px) {
  .main-heading {
    font-size: 6vw; /* Adjust as needed */
  }
  .typed-out-container {
    font-size: 6vw; /* Adjust as needed */
  }
  #space-button1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .main-heading {
    font-size: 8vw; /* Adjust as needed */
  }
  .typed-out-container {
    font-size: 10vw; /* Adjust as needed */
  }
  #space-button1 {
    margin-left: 16vh;
    display: block;
    text-align: center;
  }
}

@media (min-width: 426px) and (max-width: 600px) {
  .text-container {
    font-weight: 500;
    margin-top: 10vh;
    overflow: hidden;
  }

  .main-heading {
    margin-left: 2vw;
    margin-top: 12vh;
    font-size: 8vw;
  }

  .typed-out-container {
    font-size: 12vw;
  }

  #line-homepage {
    height: 10vh;
    margin-left: 1vh;
    width: 100vw;
    overflow: hidden;
  }

  #space-button1 {
    margin-left: 20%;
    margin-top: 18vh;
    padding: 2vh 2vh;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .text-container {
    margin-top: 20vh;
  }

  .main-heading {
    font-size: 6vw;
  }

  .typed-out-container {
    font-size: 6vw;
  }

  #line-homepage {
    margin-left: 1vh;
    width: 100vw;
    overflow-x: hidden;
  }

  #space-button1 {
    margin-left: 40%;
    margin-top: 15vh;
    padding: 2.3vh 3vw;
  }
}
