.offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.sub-header {
  font-family: 'Gilroy-SemiBold';
  margin-bottom: 10px;
  font-family: "Montserrat-med";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center; 
  margin-left: 0; 
  padding-left: 0;
  width: 100%;
}



.heading {
  width: 100%;
  max-width: 600px;
}

.offers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
  
}

.offer-image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.offer-title {
  margin-bottom: 10px;
  font-family: 'Gilroy-semibold';
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 125% */
letter-spacing: -0.5px;
}

.offer-title1 {
  font-family: 'Gilroy-semibold';
  margin-bottom: 10px;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.5px;
}

.offer-description,
.offer-description1 {
text-align: center;
margin-bottom: 20px;
font-family: "Montserrat-med";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.text-blue {
  color: #007bff;
}

.offer-button {
  cursor: pointer;
  align-self: center;
  background-color: #1E90FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: "Gilroy-bold";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.25px;
}

.offer-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .offers {
    flex-direction: column;
    align-items: center;
  }

  .offer-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
