.offer-container {
  background-color: white;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.sub-header {
  font-size: 12px;
  margin-right: 173vh;
  font-weight: 600;
  font-family: "Montserrat-med";
}

.heading {
  margin: 0 auto;
}

.offers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.offer-item {
  flex: 1;
  max-width: 600px;
  text-align: center;
}

.offer-image {
  margin: 0 auto;
}

.offer-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  font-family: "Gilroy-semibold";
}
.offer-title1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
  font-family: "Gilroy-semibold";
}
.offer-description {
  font-size: 16px;
  margin: 0 0 20px 0;
  font-family: "Montserrat";
}
.offer-description1{
  font-size: 16px;
  margin-top: 1000px;
  margin: 0 0 20px 0;
  font-family: "Montserrat";
}
.offer-button {
  background-color: #1E90FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.offer-button:hover {
  background-color: #1C86EE;
}

.text-blue {
  color: #1E90FF;
}

@media (max-width: 600px) {
  .heading {
    margin-right: 20vh;
  }
  .offers {
    display: flex;
    flex-direction: column;
  }
  .offer-title {
    font-size: 2.5vh;
  }
  .offer-button {
    border-radius: 50px;
  }
  .sub-header {
    display: inline;
    text-align: center;
    padding: 0; 
    margin: 0 auto; /* Center the text on smaller screens */
  }
}
@media (min-width:601px) and (max-width:768px) {
  .offer-description1{
    margin-top: 6vh;
  }
  .offer-title1 {
    margin-top: 5vh;
  }
}
@media (max-width: 1440px) {
  .sub-header {
    display: inline-block;
    margin:0 auto;
    margin-left: -184vh;
    text-align: center;
  }
}