* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3)); /* Adjust based on the number of cards */
  }
}

.testimonial-container {
  padding: 60px 0;
  background: white;
  position: relative;
  background-color: #E5F1F7;
  overflow: hidden;
}

.testimonial-container:hover .testimonial-container-slide {
  animation-play-state: paused;
}

.testimonial-container-slide {
  display: flex;
  animation: slide 8s linear infinite;
  width: calc(100% * 2); 
}

.heading-top-left {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Montserrat-semibold";
}

.heading-center {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  font-family: "Montserrat-med";
}

.heading {
  display: block;
  margin: 20px auto;
}

.testimonial-grid {
  display: flex;
  gap: 20px;
}

.testimonial-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card .message {
  font-family: "Montserrat-med";
  margin-bottom: 20px;
}

.testimonial-card img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin: 0 auto;
}

.testimonial-card .name {
  font-family: "Montserrat-semibold";
  font-weight: bold;
  margin-top: 10px;
}

.testimonial-card .occupation {
  font-family: "Montserrat-semibold";
  color: gray;
  margin-top: 5px;
}

.heading-top-left1 {
  display: none;
}

@media (max-width: 600px) {
  .heading-top-left {
    display: none;
  }
  .heading {
    display: none;
  }
  .heading-center {
    display: none;
  }
  .heading-top-left1 {
    display: block;
    font-size: 14px;
    padding: 7vh 0 0 2vh;
    font-weight: 600; 
  }

  .testimonial-container-slide {
    flex-direction: row;
    animation: slide 20s linear infinite;
    font-family: "Montserrat";
  }
  * {
    overflow-x: hidden;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .testimonial-grid {
    overflow: hidden;
  }
}
