.hero9-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 5%;
    margin-top: -5vh;
    padding-bottom: 5vh;

}

.left9-side {
    flex: 1;
}

.text9-container {
    max-width: 100%;
    margin-bottom: 30vh;
    padding-left: 2vh;
}

.left-button911 {
    display: none;
}

.heading9 {
    line-height: 1.2;
    font-size: 5vh;
    font-weight: bold;
}

.title9 {
    font-weight: bold;
    justify-content: start;
}

.blue-title9 {
    color: #4285f4;
}

.small-text9 {
    padding-top: 2vh;
    font-family: "Montserrat-med";
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

.for-buttons9 {
    font-family: "Gilroy-semibold";
    display: flex;
    gap: 1rem;
}

.left-button9,
.right-button9 {
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 200px;
}

.left-button9 {
    background-color: #4285f4;
    color: white;
}
.news-img{
    justify-content: center;
    align-items: center;
    padding-left:2vh;
}
.right-button9 {
    background-color: white;
    color: #4285f4;
    border: 1px solid #4285f4;
}

.right9-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.right9-side img {
    max-width: 100%;
    height: auto;
}
.new p {
    color: white; /* Default color for larger screens */
    font-size: 3.5vh;
    overflow: hidden;
}
@media (max-width: 600px) {
    .left9-side {
        display: none;
    }
    .new p{    
    color: black; /* Color for smaller screens */
    font-size: 4vh;
    }
    .right9-side{
        height: 100vh;
        overflow-y: hidden;
    }
    .left-button911 {
        display: block;
        background-color: #4285f4;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 200px;
        margin-top: 2rem;
    }
}
