body {
  align-items: center;
  justify-content: center;
}

@keyframes login-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.login-logo-slider {
  position: relative;
  padding: 5vh 0 10vh 0; /* Adjusted padding */
}

.login-top-left {
  margin-bottom: 1vh;
  font-weight: 700;
  margin-left: 40%;
  padding: 2vh 2vh;
}

.login-slider {
  height: 150px; /* Adjust height */
  margin: auto;
  position: relative;
  width: 100%;
}

.login-slider .login-slide-track {
  display: flex;
  width: calc(300px * 14);
  animation: login-scroll 20s linear infinite;
  gap: 2vh;
}

.login-slider .login-slide-track img {
  height: 100px; /* Adjusted height */
}

.login-slider .login-slide {
  height: 100px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  flex: none;
}

.login-selected-logo {
  display: block;
  margin: auto;
  height: 100px; /* Adjust height */
}


