body {
  align-items: center;
  justify-content: center;
}

@keyframes login-scroll-custom {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.login-logo-slider-custom {
  position: relative;
  padding: 5vh 0 10vh 0; /* Adjusted padding */
  width: 50%; /* Limit width to 50% */
  margin: auto; /* Center the slider */
  overflow: hidden; /* Prevent horizontal overflow */
}

.login-slider-custom {
  height: 150px; /* Adjust height */
  position: relative;
  width: 100%; /* Ensure the slider container fills the parent width */
  overflow: hidden; /* Prevent horizontal overflow */
}

.login-slider-custom .login-slide-track-custom {
  display: flex;
  width: calc(300px * 14); /* Adjust according to the number of logos */
  animation: login-scroll-custom 20s linear infinite;
  gap: 2vh;
}

.login-slider-custom .login-slide-track-custom img {
  height: 100px; /* Adjusted height */
}

.login-slider-custom .login-slide-custom {
  height: 100px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  flex: none;
}

.login-selected-logo-custom {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: auto;
  margin-top: -5vh;
  height: 150px; /* Adjust height */
}

@media (max-width: 600px) {
  .login-logo-slider-custom {
    width: 200%;
  }
}
