body {
  align-items: center;
  justify-content: center;
}

@keyframes newsletter-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.newsletter-logo-slider {
  position: relative;
  padding: 5vh 0 10vh 0; /* Adjusted padding */
}

.newsletter-top-left {
  margin-bottom: 1vh;
  font-weight: 700;
  margin-left: 40%;
  padding: 2vh 2vh;
}

.newsletter-slider {
  height: 150px; /* Adjust height */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.newsletter-slider .newsletter-slide-track {
  display: flex;
  width: calc(300px * 14);
  animation: newsletter-scroll 20s linear infinite;
  gap: 2vh;
}

.newsletter-slider .newsletter-slide-track img {
  height: 100px; /* Adjusted height */
}

.newsletter-slider .newsletter-slide {
  height: 100px; /* Adjusted height */
  width: 200px; /* Adjusted width */
  flex: none;
}

.newsletter-selected-logo {
  display: block;
  margin: auto;
  height: 100px; /* Adjust height */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .newsletter-slider .newsletter-slide-track {
    width: calc(200px * 12);
  }
  .newsletter-slider .newsletter-slide {
    width: 200px;
    height: 100px;
  }
  .newsletter-top-left {
    margin-left: 35%;
  }
}
