body {
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-slider {
  position: relative;
  padding: 5vh 0 30vh 0;
}

.top-left {
  margin-bottom: 1vh;
  font-weight: 700;
  margin-left: 40%;
  padding: 2vh 2vh;
}

.slider {
  height: 10px; /* Increased height */
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; 
}

.slider .slide-track {
  display: flex;
  width: calc(300px * 14); /* Adjust width based on new image size */
  animation: scroll 20s linear infinite;
  gap: 2vh; /* Decreased gap */
}
.slide-track img{
  height: 15vh;
}
.logo-slider{
  height: 30vh;
}
.slider .slide {
  height: 150px; /* Increased height */
  width: 300px; /* Increased width */
  flex: none;
}

@media (max-width: 768px) {
  .slider .slide-track {
    width: calc(200px * 12); /* Adjusted width for smaller screens */
  }
  .slider .slide {
    width: 200px; /* Adjusted width for smaller screens */
    height: 100px; /* Adjusted height for smaller screens */
  }
  .top-left {
    margin-left: 35%;
  }
}

@media (max-width: 600px) {
  .slider .slide-track {
    width: calc(150px * 12); /* Adjusted width for smallest screens */
  }
  .slider .slide {
    width: 150px; /* Adjusted width for smallest screens */
    height: 75px; /* Adjusted height for smallest screens */
  }
  .top-left {
    margin-left: 8vh;
    font-size: 2vh;
  }
}

.selected-logo {
  display: block;
  margin: auto;
  height: 150px; /* Adjusted height to match increased image size */
}
