.main-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.for_img img {
    padding-top: 10vh;
    width: 100%; 
    max-width: 500px;
}

.text .heading5 {
    display: inline;
    padding-top: 3vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 6vh;
    font-weight: bold;
}

.text {
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
}
.click{
    align-items: center;
}
.button3 {
    background-color: #2176F6; 
    color: white;
    border: none;
    align-items: center; 
    padding: 12px 12px;
    font-weight: 600;
    cursor: pointer;
    font-size: 2.5vh;
    border-radius: 25px;
    align-items: center;
    margin-top: 2vh;

}
.button3:hover{
    background-color: cadetblue;
}

@media (max-width:600px) {
    .for_img{
        max-width: 400px;
    }
    .heading5 h2{
        font-size: 5vh;
    }
    .text p{
        padding-top: 2vh;
        font-size: 2.5vh;
    }
   
}