@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Manrope:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.section2-container {
    background-color: #fff;
    padding: 150px 50px;
    position: relative;
    text-align: center;
}

.section2-container p {
    margin: 0;
}

.main-para {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
}

.subscribe-section {
    margin-top: 20px;
    text-align: left;
}

.subscribe-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #000; 
    font-size: 1em;
    display: flex;
    align-items: center;
}

.arrow-icon {
    margin-left: 10px;
}

.image-onLeft {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.image-onLeft video {
    width: 100%;
    height: auto;
}

.heading-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
}

.title {
    font-family: 'Manrope', sans-serif;
    font-size: 3em; 
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.title-blue {
    font-family: 'Manrope', sans-serif;
    font-size: 2.5em; 
    font-weight: 700;
    color: #1E88E5; 
}

@media (max-width: 600px) {
    *{
        overflow-x:hidden ;
    }
    .para2 {
        display: none;
    }
    .heading-2 {
        font-size: 17px;
        padding-bottom: 90vh;
    }
    .title {
        margin-top: 5vh;
        font-size: 1em;
        color: black;
    }
    .main-para {
        font-size: 0.875em;
        margin-top: 20px;
    }
    .subscribe-section {
        margin-top: 20px;
    }
    .image-onLeft {
        margin-top: 20px;
    }
}
