.section2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px; /* Reduced padding */
  background-color: white;
}

.video-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-tag {
  width: 100%;
  height: auto;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.para2 {  
  margin-bottom: 10px; 
  font-family: "Montserrat-med";
  font-weight: 600;
  font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
}

.heading-2 .title {
  font-size: 32px;
  margin-bottom: 10px; 
  font-family: "Manrope";
  font-weight: 600;
}

.title-blue {
  color: #2176F6;
}

.para .main-para {
  font-size: 16px;
  margin-bottom: 10px; /* Reduced margin */
  line-height: 1.4; /* Adjust line height */
  font-family: "Montserrat-med";
}

.subscribe-section {
  margin-top: 10px; /* Reduced margin */
}

.subscribe-text {
  display: flex; /* Ensures the text and arrow are in a row */
  align-items: center;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: 16px;
}

.arrow-icon {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .section2-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .video-section, .text-section {
    flex: none;
    width: 100%;
  }

  .video-tag {
    width: 100%;
    height: auto;
  }

  .para2 {
    margin-bottom: 10px; 
  font-family: "Montserrat-med";
  font-weight: 600;
  font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
    overflow-y: hidden;
  }

  .heading-2 .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .para .main-para {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4; /* Adjust line height */
  }

  .subscribe-text {
    font-size: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: row; /* Ensures the text and arrow are in a row even on small screens */
    justify-content: center; /* Centers the text and arrow */
  }
  .subscribe-section{
    overflow-y: hidden;
  }
  .arrow-icon {
    width: 20px;
    height: 20px;
  }
}
