body {
    font-family: 'Montserrat-med';
}

.section2-container {
    background-color: #fff;
    padding: 200px 180px;
    margin-top: 0vh;
    padding-top: 20vh;
}

.subscribe-section {
    margin-top: 20px;
    margin-left: 940px;
}

.subscribe-text {
    font-family: 'Montserrat-med';
    font-weight: 700;
    text-decoration: none;
    color: #000; 
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-left: -20vh;
}

.arrow-icon {
    margin-left: 10px;
}

.title {
    font-size: 30px; 
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    margin-left: -7vh;
    font-family: "Manrope";
}

.title-blue {
    font-size: 34px; 
    font-weight: 700;
    color: #1E88E5; 
}

.para {
    text-wrap: wrap;
    margin-left: 120vh;
    margin-top: 4vh;
}
.main-para{
    font-family: "Manrope";
    margin-top: 5vh;
    font-size: 18px;
    margin-left: -20vh;
}
.heading-2 {
    margin-left: 72%;
}

.para2 {
    font-family: "Montserrat";
    margin-left: -18vh;
    padding-bottom: 20px;
    
    font-size: 13px;
}

.image-onLeft {
    float: left;
    margin-top: -255px;
    max-width: 90vh;
    margin-left: -100px;
    overflow: hidden;
    
}

.hide_this{
    display: none;
}

@media (max-width: 600px) {
    .section2-container {
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }
    .title {
        font-size: 18px;
        text-align: center;
        margin: 5px 0;
    }
    .title-blue {
        font-size: 20px;
    }
    .image-onLeft {
        display: none;
        margin: 0 auto 10px;
        max-width: 50%;
        text-align: start;
    }
    .para {
        margin: 20px 0;
        text-align: center;
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
    .main-para {
        font-size: 14px;
    }
    .subscribe-section {
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }
    .subscribe-text {
        margin-left: 0;
        font-size: 12px;
        justify-content: center; /* Center align the text and icon */
    }
}

@media (max-width: 768px) {
    .heading-2 {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }
    .para2 {
        display: none;
    }
    .title {
        font-size: 34px;
        text-align: center;
        margin-left: 2px;
        margin-top: -1vh;
    }
    .title-blue {
        font-size: 34px;
    }
    .image-onLeft {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        text-align: center;
    }
    .para {
        margin-left: 0;
        margin-top: 20px;
        text-align: left;
        padding: 0 20px;
    }
    .main-para {
        margin-left: 2vh;
        font-size: 2vh;
    }
    .subscribe-section {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
        padding-left: 0;
    }
}

@media (max-width: 1440px) {
    .section2-container {
        padding: 40px;
        flex-direction: column;
        align-items: start;
        justify-content: left;
    }

    .image-onLeft {
        margin-bottom: 20px;
        overflow: hidden;
        float: left;
        margin-top: -255px;
        max-width: 100vh;
        overflow: hidden;
    }
    .para2 {
        display: block;
        margin-left: 100vh;
    }
    .title {
        font-size: 26px;
    }

    .title-blue {
        font-size: 30px;
    }

    .para {
        font-size: 14px;
        text-align: left;
        margin-left: 120vh;
        white-space: wrap;
        
    }

    .subscribe-text {
        font-size: 14px;
        margin-left: 5vh;
    }
    .section2-container {
        padding-top: 20vh;
        padding-bottom: 40vh;
        margin-top: 0vh;
    }
    .heading-2{
        margin-left: 106vh;
    }
}
