body {
  align-items: center;
  justify-content: center;
}

@keyframes main1-page-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.main1-page-top-left {
  margin-bottom: 1vh;
  font-weight: 700;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.main1-page-slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 30vh;
}

.main1-page-slider .main1-page-slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: main1-page-scroll 20s linear infinite;
  gap: 6vh;
}

.main1-page-slider .main1-page-slide {
  height: 100px;
  width: 250px;
  flex: none;
}

@media (max-width: 600px) {
  .main1-page-top-left {
    flex: 1;
    justify-content: center;
    text-align: center;
  }
  .main1-page-slider .main1-page-slide-track {
    width: calc(150px * 12);
  }
  .main1-page-slider .main1-page-slide {
    width: 150px;
  }
}
