.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1200px;
}

.button5 {
background-color: #2176F6;
color: white;
border-radius: 50px;
font-family: "Gilroy-semibold";
font-family: 400;
padding: 1.3vh 1.5vh;
}


@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;

    }
    
    .logo {
        margin-left: 0;
        }
    
    .button5 {
        display: none;
    }
}
